h2.subtitle {
    text-align: center;
    border-top-style: solid;
    border-width: 20px;
    border-color: cadetblue;
}
div.main {
    display: inline-block;
    width: 600px;
    height: 500px;
}
header.title {
    text-align: center;
    color : white
}
header.title {
    background-color: blue;
}
div.box {
    display: inline-block;
    width: 600px;
    height: 500px;
}
div.box.para 3 {
    font-size: 50%;
}