h2.subtitle {
    text-align: center;
    border-top-style: solid;
    border-width: 20px;
    border-color: cornflowerblue;
}
main {
    display: inline-block;
    width: 350px;
    height: 500px;
    margin-left: 250px;
}
header.title {
    text-align: center;
    color : white
}
header.title {
    background-color: blue;
}
div.box {
    display: inline-block;
    width: 600px;
    height: 75px;
}
div.side {
    font-size: 10px;
}
footer {
    color: cornflowerblue;
    background-color: cornflowerblue;
    background-size: 100px;
}